/**
 *
 * PAC1 - Carles Melgarejo
 * Estils CSS amb estratègia 'Mobile first'
 *
 * CONTINGUT
 *
 * SETTINGS
 * _variables.scss.................Variables globals.
 *
 * GENERIC
 * _header.scss....................Header principal amb logo i menú. 
 *    Hamburger-menu-styles........Contenidor general menú hamburguesa.
 * _footer.scss....................Footer principal de la pàgina.
 *
 * Global-styles...................Estils genèrics per tota la pàgina.
 * Icones..........................Estils genèrics per les icones.
 * Cites ..........................Estils genèrics de cites.

 *
 * COMPONENTS
 * Site-main-styles................Contingut principal de la pàgina. 
 * Menu-styles.....................Footer principal de la pàgina.
 */

  @use "sass:map";


  /**
   * Importem el parcial header
   */

  @import "header";

  /**
   * Importem el parcial footer
   */

  @import "footer";



/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/

  * {
    // Box model
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


  html {
    // Typography
    font-family: $font-family-sans-serif;
    font-size: 2.4vw;
    color: map.get($theme-colors, "main-font-color");

    @media screen and (min-width: 768px) {
      font-size: 1.2vw;
    }

    @media screen and (min-width: 1024px) {
      font-size: .8vw;
    }

    @media screen and (min-width: 1440px) {
      font-size: 10px;
    }
  }


  body {
    // Misc
    cursor: initial;
  }


  h1 {
    // Box model
    padding: 6rem 2rem 6rem 2rem;

    // Typography
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 1.6;
    color: map.get($theme-colors, "secondary-font-color");
    text-align: center;

    @media screen and (min-width: 768px) {
      // Box model
      max-width: 120rem;
      margin: 0 auto;

      // Typography
      font-size: 4.4rem;
      font-weight: 400;
      line-height: 1.4;
    }
  }


  h2 {
    // Box model
    margin-bottom: 2rem;
    
    // Typography
    font-size: 2.2rem;
    color: map.get($theme-colors, "grey-titles");
  }


  a {
    // Typography
    color: map.get($theme-colors, "main-font-color");
  }


  abbr {
    // Typography
    text-decoration: none;
  }


  ul {
    // Visual
    list-style: none;
  }


  img {
    // Box model
    display: block;
    max-width: 100%;
  }


  picture {
    // Box model
    display: block;
    margin-bottom: 8rem;

    // Visual
    box-shadow: 0 5px 8px rgb(74 74 74 / .2);

    img {
      // Box model
      width: 100%;
    }
  }


  p,
  li,
  cite {
    // Box model
    margin-bottom: 2.4rem;

    // Typography
    font-size: 1.4rem;
    line-height: 1.6;
    color: map.get($theme-colors, "main-font-color");

    @media screen and (min-width: 768px) {
      // Box model
      margin-bottom: 1.4rem;

      // Typography
      font-size: 1.3rem;
      line-height: 1.4;
    }
  }


  i {
    // Typography
    font-style: initial;
  }



  /**
    * Com que l'icona de Linkedin i del correu apareixen tant al menú
    * com al footer ho poso aquí, com a definició més genèrica.
    */

  .fa-linkedin-in {
    // Box model
    padding-top: .8rem;
    padding-right: 1rem;
    padding-bottom: .8rem;
    padding-left: 1rem;


    // Typography
    font-size: 2.5rem;
    color: map.get($theme-colors, "secondary-font-color");

    // Visual
    background-color: map.get($theme-colors, "grey-icons");
    border-radius: 2.2rem;
  }

  .fa-envelope {
    // Typography
    font-size: 4.2rem;
    color: map.get($theme-colors, "grey-icons");
  }



  /**
    * Cites.
    *
    * 1. Colors per les cites del final
    */

  blockquote {
    // Box model
    padding: 1.8rem 1.7rem 1.4rem;
    margin-bottom: 4.2rem;

    // Visual
    background-color: map.get($theme-colors, "block-quote-background"); /* [1] */
    border-left-color: map.get($theme-colors, "site-red"); /* [1] */
    border-left-style: solid;
    border-left-width: 5px;
  }

  blockquote > p {
    // Box model
    margin-bottom: 0;

    // Typography
    font-style: italic;
  }

  blockquote > cite {
    // Box model
    display: block;
  }

  blockquote > cite > strong {
    // Typography
    font-weight: 600;
  }





/*------------------------------------*\
  #SITE-MAIN-STYLES
\*------------------------------------*/

  main > header {
    // Visual
    background-image: url("../images/background_480w.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;

    @media screen and (min-width: 768px) {
      // Visual
      background-image: url("../images/background_1080w.jpg");
    }

    @media screen and (min-width: 1440px) {
      // Visual
      background-image: url("../images/background_1440w.jpg");
    }
  }


  main > section {
    @media screen and (min-width: 768px) {
      // Box model
      padding-bottom: 2rem;
    }

    @media screen and (min-width: 1440px) {
      // Box model
      max-width: 1440px;
      margin-right: auto;
      margin-left: auto;
    }
  }


  main > section > h2, main > section > ul, 
  article {
    // Box model
    padding-top: 3rem;
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }



  /**
    * Els continguts de cada any estan ocults fins que es fa click a una
    * etiqueta d'any. El contingut de la primera és visible.
    *
    * 1. Contingut de cada any
    * 2. Any visible
    */

  main > section:nth-of-type(2) article { /* [1] */
    // Box model
    display: none;

    @media screen and (min-width: 768px) {
      // Box model
      padding-bottom: 3rem;
    }
  }


  main > section:nth-of-type(2) .show-year-content { /* [2] */
    // Box model
    display: block;
  }


  main > section:nth-of-type(2) article > h2 {
    // Typography
    font-size: 1.6rem;
    color: map.get($theme-colors, "main-font-color");
  }


  main > section,
  main > section:nth-of-type(1) > article:nth-of-type(1) {
    // Visual
    scroll-margin-top: 14rem;

    @media screen and (min-width: 768px) {
      // Visual
      scroll-margin-top: 16.8rem;
    }
  }



  main > section:nth-of-type(1) {
    @media screen and (min-width: 768px) {
      // Box model
      display: grid;
      grid-template-columns: 1.8fr 1.2fr;
    }
  }

  main > section:nth-of-type(1) div {
    @media screen and (min-width: 768px) {
      // Box model
      display: flex;
      flex-direction: row-reverse;
    }
  }



  main > section > ul {
    // Box model
    padding-top: 0;
    padding-left: 5.8rem;
  }

  main > section > article > ul {
    // Box model
    padding-left: 1.3rem;
  }

  main > section > ul > li,
  main > section > article > ul > li {
    // Visual
    list-style: disc;
  }


  main > section article > img {
    // Box model
    width: 100rem;
    height: auto;

    @media screen and (min-width: 768px) {
      // Box model
      width: 283px;
    }
  }


  main > section:last-child {
    // Box model
    padding: 7rem 2.2rem 2.2rem 2rem;

    @media screen and (min-width: 768px) {
      // Box model
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 4rem;
      padding-right: 4rem;
      padding-left: 4rem;
    }
  }


  main > section > ul > li strong {
    // Typography
    font-weight: 600;
  }




  /**
   * 1. Algunes seccions tenen color de fons gris.
   */

  .seccio--destacada {
    // Box model
    padding-bottom: 1.5rem;

    // Visual
    background-color: $bckgr; /* [1] */

    @media screen and (min-width: 768px) {
      // Box model
      padding-bottom: 2.5rem;
    }
  }

  main > section:nth-of-type(1) > .seccio--destacada {
    @media screen and (min-width: 768px) {
      // Visual
      background-color: map.get($theme-colors, "secondary-font-color");
      scroll-margin-top: 16.8rem;
    }
  }



  /**
    * Contenidor de les icones de contacte
    */

  .social-media {
    // Box model
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 18rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;

    li {
      // Box model
      margin-bottom: 0;

      a {
        // Box model
        display: block;
      }
    }

    @media screen and (min-width: 768px) {
      // Box model
      display: none;
    }
  }


  /**
    * Etiquetes d'anys a les que es pot navegar per swipe a mobile
    * a mode de carroussel.
    *
    * 1. El text continua en una sola línia fins que no trobi un <br>
    * 2. Si el contingut és més gran que el viewport no es mostra i apareixerien
    *    les barres d'scroll.
    * 3. Ocultem les barres d'scroll per Firefox.
    * 4. Ocultem les barres d'scroll per Chrome, Safari i Opera
    * 5. Estils per cadascuna de les etiquetes d'any
    */

  .submenu-carroussel {
    // Box model
    padding-top: 0;
    padding-left: 4.7rem;
    overflow: auto; /* [2] */
    white-space: nowrap; /* [1] */

    // Visual
    scrollbar-width: none; /* [3] */
  }

  .submenu-carroussel::-webkit-scrollbar { /* [4] */
    display: none;
  }

  .submenu-carroussel > li { /* [5] */
    // Box model
    display: inline-block;
    width: max-content;
    padding: .5rem 1.5rem;
    margin-right: 1.6rem;
    margin-bottom: 0;

    // Typography
    font-weight: 800;
    color: map.get($theme-colors, "grey-titles");

    // Visual
    background-color: map.get($theme-colors, "grey-background");

    @media screen and (min-width: 768px) {
      // Misc
      cursor: pointer;
    }
  }


  /**
    * Notes destacades
    *
    * 1. Colors per la nota destacada de la Trajectòria laboral
    */

  .block--destacat {
    // Box model
    padding: 1.8rem 1.7rem 1.4rem;
    margin-bottom: 4.2rem;

    // Visual
    background-color: map.get($theme-colors, "background-highlighted-blue"); /* [1] */
    border-left-color: map.get($theme-colors, "border-highlighted-blue"); /* [1] */
    border-left-style: solid;
    border-left-width: 5px;

    @media screen and (min-width: 768px) {
      // Box model
      width: 55.3rem;
      margin-top: 3.5rem;
      margin-bottom: 1.4rem;
    }
  }

  .block--destacat > p {
    // Box model
    margin-bottom: 0;

    // Typography
    font-style: italic;
  }

  .block--destacat > ul > li {
    // Box model
    display: block;
    margin-bottom: 0;
  }





/*------------------------------------*\
  #MENU-STYLES
\*------------------------------------*/

  /**
    * Menú fet amb llistes desordenades ul.
    *
    * 1. Elements de menú
    */

  body > header > nav {
    aside {
      // Positioning
      position: absolute;
      top: 34.4vw;
      left: 0;

      // Box model
      width: 0;
      height: 100vh;
      
      // Visual
      overflow: hidden;
      background-color: map.get($theme-colors, "grey-background");
      transition: .5s;

      .menu-content { /* [1] */
        // Box model
        height: 60vh;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 5rem;

        // Visual
        background-color: map.get($theme-colors, "block-quote-background");

        li {
          // Box model
          display: block;
          padding-top: 1.2rem;
          padding-bottom: 1.5rem;
          margin-bottom: 1.6rem;
          
          // Typography
          font-family: $font-family-sans-serif;
          font-size: 1.7rem;
          font-weight: 800;
          line-height: 1;
          color: map.get($theme-colors, "grey-titles");
          text-decoration: none;
          text-transform: uppercase;

          @media screen and (min-width: 768px) {
            // Box model
            display: inline-block;
            padding-right: 1.4rem;
            padding-left: 1.4rem;
            margin-bottom: 0;
          }

          @media screen and (min-width: 1024px) {
            // Box model
            display: initial;
          }

          &:hover {
            @media screen and (min-width: 768px) {
              // Typography
              color: map.get($theme-colors, "site-red");
              text-decoration: underline;

              // Misc
              cursor: pointer;
            }
          }
        }

        .active {
          // Typography
          color: map.get($theme-colors, "site-red");
          text-decoration: underline;
        }

        @media screen and (min-width: 768px) {
          // Box model
          height: auto;
          padding-top: 1rem;
          padding-bottom: 2rem;
          padding-left: 0;

          // Typography
          text-align: center;

          // Visual
          background-color: map.get($theme-colors, "secondary-font-color");
        }
      }

      @media screen and (min-width: 768px) {
        // Positioning
        position: initial;

        // Box model
        width: 100%;
        height: auto;
        background-color: map.get($theme-colors, "secondary-font-color");
      }
    }
  }
