<footer class="site-footer">
  <ul>
    <li class="js-scroll" data-target="dades-personals">
      Dades personals
    </li>

    <li class="js-scroll" data-target="sobre-mi">
      Sobre mi...
    </li>

    <li class="js-scroll" data-target="trajectoria-laboral">
      Trajectòria laboral
    </li>

    <li class="js-scroll" data-target="formacio-universitaria">
      Formació universitària
    </li>

    <li class="js-scroll" data-target="formacio-continuada">
      Formació continuada
    </li>

    <li class="js-scroll" data-target="idiomes">
      Idiomes
    </li>

    <li class="js-scroll" data-target="altres">
      Altres
    </li>
  </ul>

  <ul class="social-media">
    <li>
      <a href="https://es.linkedin.com/in/carlesmelgarejo" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </li>
    <li>
      <a href="mailto:carles.melgarejo@gmail.com" target="_blank">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
  </ul>
  
  <p>
      Activitat realitzada per Carles Melgarejo Vila, per a l'assignatura Eines <abbr title="HyperText Markup Language">HTML</abbr> i <abbr title="Cascading Style Sheets">CSS</abbr>II. Segon semestre del curs 2022-2023
  </p>

  <p>
      <abbr title="Copyright">&copy;</abbr> 2022 Tots els drets reservats<br>
      Darrera revisió, octubre 2022
  </p>
</footer>
