<header>
  <div>
    <img src="assets/images/logo_cm.svg" loading="lazy" width="101" height="57">

    <p>Carles Melgarejo Vila · Full Stack Developer</p>
  </div>

  <nav class="hamburger-menu">
    <div class="hamburger hamburger__open js-open">&#9776;</div>
    <div class="hamburger hamburger__close js-close">&#9747;</div>

    <aside class="js-menu-content">
      <ul class="menu-content">
        <li class="js-scroll" data-target="dades-personals">
          Dades personals
        </li>

        <li class="js-scroll" data-target="sobre-mi">
          Sobre mi...
        </li>

        <li class="js-scroll" data-target="trajectoria-laboral">
          Trajectòria laboral
        </li>

        <li class="js-scroll" data-target="formacio-universitaria">
          Formació universitària
        </li>

        <li class="js-scroll" data-target="formacio-continuada">
          Formació continuada
        </li>

        <li class="js-scroll" data-target="idiomes">
          Idiomes
        </li>

        <li class="js-scroll" data-target="altres">
          Altres
        </li>
      </ul>

      <ul class="social-media">
        <li>
          <a href="https://es.linkedin.com/in/carlesmelgarejo" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>

        <li>
          <a href="mailto:carles.melgarejo@gmail.com" target="_blank">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
      </ul>
    </aside>
  </nav>
</header>
