<header>
  <div>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="126px" height="70px" viewBox="0 0 126 70" enable-background="new 0 0 126 70" xml:space="preserve">
      <image width="126" height="70" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH4AAABGCAMAAAA91NB6AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
      AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAnFBMVEX///8AAAAAAAAAAAAA
      AAAAAAAAAACiAADMAADMAADMAAAAAADMAADMAADMAAAAAAAAAAAAAAAAAAAAAADMAAAAAADMAAAA
      AAAAAADMAAAAAADMAAAAAACuAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADMAADMAADMAADM
      AADMAADMAADMAADMAADMAAAAAADMAACZAAD///+I4YmdAAAAMHRSTlMAEECAkMDf739fv8/vEN8g
      MLCg7yC/n2BQMI9Af99fL08frw9vP5+ej74/Ts8fD6+zgjYpAAAAAWJLR0QAiAUdSAAAAAlwSFlz
      AAAK8AAACvABQqw0mAAAAAd0SU1FB+YKGhcvDHsePNYAAAPMelRYdFJhdyBwcm9maWxlIHR5cGUg
      eG1wAAB4nO2dTZKjMAyF9z5FH8GRbBmOQ4LZTdUs5/jzZCadNPkPPdWiSk01ELDl91myF3mLhD+/
      foePj48dlb4EPvBUuhJlJyx7ySVRFJIsRXqpPBLVab/fT0R43kvSJ7lwTiPHNJaYGG076UPqylDQ
      MXMZUs1JcEVAZnQi4olrHPhQOh5KJ+goow4mO4r6WQ5SC+u7oCNATZJJdfAwv/hs3pScwuDZXnuk
      zx4Uc5fGHAOpuKm0R5yo8o5G6InM+IQnLHhGXPDf4yx0QFeWnU5BGiChohXeh3aJOEq7Ix4Qosxn
      iouDFHS+By5BlfCQKaUkYcE6v1TcriQckQfgTaX9US1oRLURFJp4B5U4cBcDEy5QQuMcBFcuyJfO
      UOmAWUt7fdKyVAQ5SGNAlkj6No09pg/ExwbgJ4yNSVeFmPPhAvXfoUzhlEAoiJdQTVE95RX3SI6M
      wG09FBDpQNamS9mf4ufgQ1LVWTOls5M15CQHrudFEEDRa7NS2hTuMT4KIiNpfDiOejvUSUB4oCCn
      NF+5tjJpaUG2Is6E1ZFwxsRwCii5AQJyHm4oOAt1bwICOo2QqTmT0j87PobW4ek0fGjjXw21rBua
      vlbO18IJ2CoelNpzlRYel9qx0tCZryyeiEAkh3BaOdoQ54yOWbcRXSYohrngdvfqTXtiskVaqFHn
      hivk4w77Y9bRpErR2WlqFi2/Bg2PJvF8Ds/bzpvHvH9q3sJyC70u//ER3un0/wO9B2MT7eo2slW0
      W4nZJNpzVbYRtHeWjFm09evfDtqRxY6iFYGuJ2ajaM9U2WbQXl8yhtHWrn9LaDOLJUUrAl1LzGbR
      HlfZhtBeXTKm0datf1toymJL0YpAl4n5aUUrAj2qsk2hvbZkjKOtWf/W0OJgTdGKQMvE/LyiFYHu
      V9nG0F5ZMubR3l//BtG+48tMK2iL77MNKFoR6F5iNof2fJVtAO3dJWMS7XvWvw20cxYbilYEup2Y
      DaI9W2WbQHMz0yiam5lW0dzMtIrmZqZRNDczraK5mWkUzc1Mq2huZlpFczPTKJqbmVbR3Mw0iuZm
      plU0NzOtormZaRTNzUyraG5mWkVzM9MompuZVtHczDSK5mamVTQ3M62iuZlpFM3NTKtobmYaRXMz
      0yqam5lW0dzMNIrmZqZVNDczjaK5mWkVzc1Mq2huZhpFczPTKpqbmVbR3Mw0iuZmplU0NzONormZ
      aRXNzUyraG5mGkVzM9MqmpuZ/3rqr6aEi59NyVLnH0gpZf7Fk/AXE5eGUN/Y9RUAAALHSURBVGje
      7dhpl5JQGMDxqyKJC1qEFqE4LlNR2mW+/4fLURwWnxUjz+n0vJtzGH7+WUSuMf8Hnk635/T7rq3P
      u+x2Bsy+POB/hsT2XWdkkXkBdjWe0Lyv4aeOa/GBeCYfisf42XtLDsiT+RNfzE8/WNuAJ/MHmZTv
      BZyO8OOPePxYyE9DFsf4bK6Mv+W7fDrOZ1g+En/DLyQ4zmP5SHydF+ooj+Rj8TVequP8XBVf5T9J
      dZwH89H4Cj8TXXUMP9fEl/nOSKwTfPZZEV/mI7lO8UNFfGnjmUKn+OyLPL7EU192QRhXZ5lJdsnG
      F9uucDtKbo7nkNhlLZ+KL3js6R7E0I1M8tX8gWTTNaKPnoyar+ST8W/8BtG3pgFfzh9ItpzqdIYv
      5dPxV34H84lpxvvC+CsPH/vINOQzTxZ/5eH4bWPel8Xn/B7Un01jPs/n4nMePvXrO3hfFJ/zkfLY
      8/w5n43PefD73jX38L4knuLDu/hTPh+f88rbTsT7Ez6e4mMl/7X297da/Pd2+RR8iSyOxo+WeY/k
      vbRlnrwifIPz4C/sjZpPCd4j+D9y46XUDfHTaHmr5/H8lOJjkJ+peTNH9FcG5+GfuTs9f8DjCT4B
      eVfPI/lnBefhS9+u9PwB/J4/MPyzMh/lwafc5a2X4Ncgjz91cP4I5B84Hjn6dqHmgfz8lZ/isbfr
      hZo/1p884yPPPyG8dTpK/mbx9rrWSfHIxfd6/S2UfG3p+hpP82j+6SXX6ar4av7bQi/JM2sro37f
      6RWzpPjKh/OPMn7rWvm8kHwZ8oyMR151mvCl/OJlk+M1S1sMX0ienDfyhT2GN4PhZX4ZBS8//RwP
      DcubRLqs2g4v9lvipX5bvNmKrr/WeNn91yJv9vwN0CZ/+uHNXQHt8ma7cx/JnyaJwkfy54+wisPg
      cfzlROzjzfluDMJ8onj59/h/e34Ddg0SlzNBi2kAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDcvMDMv
      MjD7+RSCAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTEwLTI2VDIzOjQ3OjEyKzAwOjAwlZK8OAAA
      ACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0xMC0yNlQyMzo0NzoxMiswMDowMOTPBIQAAAAodEVYdGRh
      dGU6dGltZXN0YW1wADIwMjItMTAtMjZUMjM6NDc6MTIrMDA6MDCz2iVbAAAAE3RFWHRkYzpmb3Jt
      YXQAaW1hZ2UvcG5n/7kbPgAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAACN0
      RVh0eGFwOkNyZWF0ZURhdGUAMjAyMi0xMC0yNlQyMzo0NDo1NVr7hb48AAAAI3RFWHR4YXA6Q3Jl
      YXRvclRvb2wAQWRvYmUgRmlyZXdvcmtzIENTM6FklVQAAAAjdEVYdHhhcDpNb2RpZnlEYXRlADIw
      MjItMTAtMjZUMjM6NDU6NTJaZZk0DwAAAABJRU5ErkJggg==">
    </svg>

    <p>Carles Melgarejo Vila · Full Stack Developer</p>
  </div>

  <nav class="hamburger-menu">
    <div class="hamburger hamburger__open js-open">&#9776;</div>
    <div class="hamburger hamburger__close js-close">&#9747;</div>

    <aside class="js-menu-content">
      <ul class="menu-content">
        <li class="js-scroll" data-target="dades-personals">
          Dades personals
        </li>

        <li class="js-scroll" data-target="sobre-mi">
          Sobre mi...
        </li>

        <li class="js-scroll" data-target="trajectoria-laboral">
          Trajectòria laboral
        </li>

        <li class="js-scroll" data-target="formacio-universitaria">
          Formació universitària
        </li>

        <li class="js-scroll" data-target="formacio-continuada">
          Formació continuada
        </li>

        <li class="js-scroll" data-target="idiomes">
          Idiomes
        </li>

        <li class="js-scroll" data-target="altres">
          Altres
        </li>
      </ul>

      <ul class="social-media">
        <li>
          <a href="https://es.linkedin.com/in/carlesmelgarejo" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        
        <li>
          <a href="mailto:carles.melgarejo@gmail.com" target="_blank">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
      </ul>
    </aside>
  </nav>
</header>
