@use "sass:color";

$font-family-sans-serif: Raleway, Arial, sans-serif;

$main-font-color: #000;
$secondary-font-color: #fff;

$carles-highlight: #ccc;
$carles-bg: color.scale($carles-highlight, $lightness: 80%);

$mqMinWidth: 667px;
